{% extends 'base.html' %}
{% load humanize %}
{% block content %}

<legend class="border-bottom mb-4">Listado de Tours</legend>

<!--
<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th scope="col">#</td>
            <th scope="col" class="col-8">Nombre</td>
            <th scope="col" class="col-1">Días</td>
            <th scope="col" class="col-1">Precio</td>
            <th scope="col" class="col-1"></td>
        </tr>
    </thead>
    <tbody>
        {% for t in tours %}
        <tr>
            <th scope="row col-1">{{ t.id }}</th>
            <td>{{ t.nombre }}</td>
            <td>{{ t.dias }}</td>
            <td>$ {{ t.precio|intcomma }}</td>
            <td>
                <a href="#" class="btn btn-outline-dark"><i class="bi bi-pencil-square"></i></a>
                <a href="#" class="btn btn-outline-danger"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>-->

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for t in tours %}
    <div class="col">
        <div class="card shadow-sm">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <h4 class="display-6">Much longer title that wraps to multiple lines</h2>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <img src="https://github.com/twbs.png" alt="Bootstrap" class="rounded-circle border border-white" width="32" height="32">
                </li>
                <li class="d-flex align-items-center me-3">
                  <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                  <small>Pakistan</small>
                </li>
                <li class="d-flex align-items-center">
                  <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                  <small>{{ t.dias }} días</small>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-primary" type="button">Nuevo Tour</button>
</div>
{% endblock content %}